*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none; /*Quitamos puntos de las listas*/
	font-weight: 300;
	
}
/* Formato y tipo de letra*/
	body{
		font-size: 20px;
		font-family: "Roboto Slab", serif;
		color: #7f888f;
	}

	p{
		margin: 0 0 2% 0;
	}
	a{
		display: block;
		text-decoration: none;/* Quitamos color "Azul" a los links*/
		color: inherit; /* Hereda el color del padre*/
		font-size:inherit;
	}
	h1{
		font-size: 3em;
	}
	h1, h2, h3{
		font-weight: 700;
		color: #3d4449;
	}
	img{
		border-radius: 2%;
		width: 100%;
		height: 100%;
	}
	footer{
		margin-top: 15%;
		font-size: 0.7em;
	}
/*EDITAMOS EL BOTON */
	.contenido>ul{
		width: 23%;
	}
	/*FORMATO*/
	.boton{
		font-size: 0.8em;
		font-weight: 500;
		text-align: center;
		color: #f56a6a;
		background-color: white;
		border: 2px solid #f56a6a;
		border-radius: 7%;
		padding: 5% 0 5% 0;
	}
/*Mantenemos mismo formato para las secciones*/
	section{
		padding: 8% 0 4% 0;
		border-bottom: solid 2px #d3d0d0;
	}

/*Damos forma y formato a toda la web*/
	.contenedor{
		width: 100%;
		height: 100%;
		border: 1px solid;
		display: flex;
		flex-direction: row;
	}
/* Damos forma a toda la barra lateral, incluye menú y buscador*/
	.lateral{ 
		width:20%;
		/*flex-basis: 20%;  Ocupará el 20% del div flex(substituye "width")*/
		padding: 0%;
		background-color: #f5f6f7;
	}
/*BARRA LATERAL BUSCADOR*/
	.buscador{
		padding: 10%;
		background-color: #e8eaeb;
	}

	.buscador input{
		
		width: 100%; /*Ocupa el 100% del ancho de #lateral*/
		padding: 5%;
		border:1px solid #acacac;
		border-radius: 5%;
	}
/*COMPORTAMIENTO BUSCADOR*/
	.buscador input:focus{

		border:3px  solid #f56a6a;
		outline: none;
	}
/*MARGEN MENU*/
	.menu{

		width: 100%; /*Ocupa el 100% del ancho de #lateral*/
		text-align: left;
		padding: 5% 8% 5% 5%; 
		margin-top: 10%;
		
		
	}
/*FORMATO MENU*/
	.menu h2{

		width: 25%;
		color: #3d4449;
		font-family: "Roboto Slab", serif;
		line-height: 1.5;
		font-size: 0.9em;
		font-weight: bold;
		border-bottom: solid 3px #f56a6a;
		padding-bottom: 5%;
	}
	.menu>ul{
		padding: 12% 0 15% 0;
		border-bottom: solid 2px #d3d0d0;
	}

	.menu li{
		font-size: small;
		color: rgb(0, 0, 0);
		letter-spacing: 0.075em;
		margin: 1%;
		padding: 4% 0% 5% 0;
		border-bottom:1px solid rgba(219, 218, 218, 0.75);
		
	}
	.menu li a{
		color: inherit; /*Cogemos el color del padre*/
	}
/*COMPORTAMIENTO MENU*/
	.menu li:hover{
	color: #f56a6a;
	}

	.menu li>a:hover{
	cursor: pointer;
	}
/*FORMATO SUBMENU*/
	.menu li>ul{
		display: none;
		margin: 2% 0 0 0;
		padding: 0 0 0 4%;
		
	}
	.menu li>ul>li{
		border-bottom: 0;
		padding: 2% 0% 2% 0;
		font-weight: 150;
	}
	.menu li>ul a{
		font-weight: 250;
	}
	.menu li:hover>ul{
		display: block; 
	}
/*QUITAMOS BORDE ÚLTMO ITEM DEL MENU*/
	.menu .item{
		border-bottom: 0;
	}

/*2ª SECCION LATERAL*/
	.seccionlateral{
		margin-top: 0;
	}
	.seccionlateral h2{
		margin-bottom: 5%;
	}
	.seccionlateral div{
		
		padding: 5% 0 5% 0;
		border-bottom:1px solid rgba(219, 218, 218, 0.75);
	}
	.seccionlateral div p{
		font-size: 0.7em;
		padding: 7% 0 7% 0
	}
	
	/*BOTON ARTICULOS*/
	.botonlateral{
		width: 30%;
		height: 100%;
		background-color: inherit;
		border: 2px solid #f56a6a;
		margin-bottom: 15%;
		padding: 2% 5% 2% 5%;
	}
/*3ª SECCION LATERAL*/

.contacto h2{
	width: 50%;
}

.contacto i{
	color: #f56a6a;
	padding-right: 4%;
}
.contacto a{

	border-bottom: 1px dotted;
	display: inline;
}
.contacto a,span{
	font-size: 0.7em;
}


/*CONTROLAMOS DIVS LADO DERECHO WEB*/
	.general{
		display: flex;
		width: 80%;
		font-size: 0.8em;
		line-height: 150%;
		/* flex-basis: 80%;  Ocupará el 80% del div flex(substituiría "width")*/
	}
/*CONTROLAMOS PADDINGS DE TODOS LOS DIVS RESPECTO PADRE*/
	.inner{
		padding: 0 7% 0 7%;
	}
	.inner>*{
		display: flex; /*Los Hijos de #Inner serán flex*/
	}
/*HEADER DE LA PAGINA*/
	.top{

		border-bottom: solid 5px #f56a6a;
		font-weight: 200;
		padding-top: 5%;
		padding-bottom: 1.5%; /* Separamos la Linea roja de los link/Iconos en el Header*/
		justify-content: space-between; /* Justifica haciendo margenes entre los dos elementos*/
	}
	.top a:hover{
		color: #f56a6a;
		cursor: pointer;
	}
	.top>*{
		display: flex;
		flex: 1 1 50%;
	}
	.top strong{
		font-weight: 800;
		padding-right: 1%;
	}
/*FORMATOS ICONOS*/
	.top span{
		justify-content: right;
	}
/*TAMAÑO Y PADDING A LOS ICONOS */
	.top span a{
		font-size: 1.25em;
		padding-left:2.5%;
	}
/*1R DIV DE CONTENIDO*/
	.body{
		flex-direction:row-reverse;
		justify-content: space-between;
		flex-wrap: wrap;
	}
/*IMAGEN DEL DIV*/
	.body>.imagen{
		margin: 0 0 2% 5%;
		flex: 1 1 50%;
	}
/*CONTENIDO*/
	.contenido{
		flex: 1 1 45%;
	}
	.contenido>*{
		padding-bottom: 3%;
	}
	.contenido h1{
		line-height: normal;
	}

	/*COMPORTAMIENTO*/
	.boton:hover{
		background-color: #f8e9e9c4;
		cursor: pointer;
	}
/*2ª SECCION PAGINA*/

	.bodycontent h2{
		font-size: 1.5em;
		width: fit-content;
		padding: 0 3% 1.5% 0;
		margin-bottom: 5%;
		border-bottom: solid 2px #f56a6a;;
	}
	/*GENERAMOS ESPACIO ENTRE ARTICULO*/
	.articulos{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap ; /*Cuando no haya espacio irán abajo*/
		justify-content:space-between; /*Todos los Hijos se alinearan dejando el mismo espacio alrededor*/
	}
	/*TRABAJAMOS DENTRO DE CADA ARTICULO DE LA SECCION*/
	.articulos>*{
		flex-basis: 47%;
		display: inherit; /*Heredamos flex del padre*/
		justify-content:space-between;

	}
	.articuloflex{
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 3%;
	}
	/*GESTIONAMOS CONTENIDO*/
	.articuloflex .contenidoarticulo{
		flex: 1 1 70%;
	}
	.contenidoarticulo h3{
		padding-bottom: 2%;
	}
	/*GESTIONAMOS EL ICONO*/
	.articuloflex span{
		flex: 1 1 20%;
		display: flex;
		margin-right: 2%;
		/*transform: rotate(45deg);*/
		border-radius: 0.25rem;
		border: solid 1.5px rgba(210, 215, 217, 0.75);
		height: 100%;
		justify-content: center;
		align-items: center;
		color:#f56a6a;
	}

	
/*3ª SECCION PAGINA*/
	/*FORMATO FLEX DE LA SECCION*/
	.articulobottom{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	/*TAMAÑO Y FORMATO DENTRO DE ARTICULO*/
	.articulobottom>*{
		flex-basis: 30%; /*3 articulos por fila*/
		height: 30%;
		flex-direction: column;
		padding-bottom: 4%;
	}
	/*CONTENIDO ARTICULOS*/
	.articuloflexbottom>*{
		margin: 0 0 6% 0;
	}
	.articuloflexbottom p{
		padding: 0 2% 0 0;
		text-align: justify;
	}
	article img{
		width: 100%;
		height: auto;
	}
	/*FORMATO DE .BOTON + NUEVO FORMATO*/
	.botonbottom{
		width: 25%;
		height: 100%;
		padding: 2%;
		border: 2px solid #f56a6a;
	}
	

